/* ======= Variables ======= */
:root {
	--clr-primary: #2c74d6;
	--clr-primary-light: #2a71d1;
	--clr-primary-dark: #235dab;
	--clr-grey-1: #9b9b9b;
	--clr-grey-5: #757575;
	--clr-grey-10: #676767;
	--clr-white: #fff;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
}

/* ======= Global Styles ======= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-size: 0.875rem;
}
a {
	text-decoration: none;
}
img {
	display: block;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1rem;
}

.btn {
	background: var(--clr-primary);
	color: var(--clr-white);
	padding: 1rem 1.5rem;
	font-weight: 700;
	font-size: 1rem;
	font-size: 0.875rem;
	border: none;
	cursor: pointer;
	box-shadow: 0 1px 4px #cccccc06;
	border-radius: 0.5rem;
	transition: var(--transition);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.btn:hover {
	background: var(--clr-primary-dark);
}
.section {
	padding: 6rem 3rem;
}
.section-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 2px;
	line-height: 4rem;
}
.section-text {
	margin: 2rem 0;
	font-size: 1.2em;
}
.section-info {
	width: 35rem;
	margin-bottom: 4rem;
}
.section-title h3 {
	font-family: "Roboto", sans-serif;
	color: var(--clr-primary);
}

/*
    TODO:
    1. 
    
*/

/* ======= Header ======= */
.header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./assets/images/businessTeamWorking.png");
	background-repeat: no-repeat;
	color: var(--clr-white);
}
.header .coditas-logo {
	fill: var(--clr-white);
	width: 80px;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
	padding: 0dvb 3rem;
}
.nav-items {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	cursor: pointer;
}
.nav-item {
	padding: 1.5rem 0;
}
.nav-item:hover {
	border-bottom: thin solid white;
}

.heading-container {
	width: 55rem;
	padding: 6rem 3rem 0rem 3rem;
}
.heading-container .heading {
	font-family: sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 3rem;
}
.heading-container .subheading {
	margin: 2rem 0;
	font-weight: 400;
	font-size: 1.25rem;
	letter-spacing: 0.5px;
	line-height: 1.875rem;
}

/* ======= Digitally Transformed Section ======= */
.digital-section {
	height: 100vh;
}
.digital-client-logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

/* ======= Our Services Section ======= */
.services-section {
	color: var(--clr-white);
	background-color: #07172d;
	padding: 6rem 3rem 5rem 3rem;
	height: 150vh;
}
.services-section p {
	color: #a5a7aa;
}
.services-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}
.service {
	padding: 1.5rem;
	-o-border-image: linear-gradient(#133664, #07172d) 50;
	border-image: linear-gradient(#133664, #07172d) 50;
	border-width: 2px;
	border-style: solid;
	background-color: #07172d;
	box-shadow: 0 1.5rem 2.125rem #0303033d;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.service-logo {
	width: 36px;
	height: 36px;
	margin-bottom: 1rem;
}
.service-heading {
	margin-bottom: 0.5rem;
}
.service-details {
	color: var(--clr-primary);
	font-weight: 600;
	padding-top: 2rem;
}

/* ======= Our Work Section ======= */
.work-section {
	margin-top: 6rem;
	width: 100%;
}
.work-articles {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}
.work-article {
	border-radius: 0.5rem;
	border-bottom: 0.25rem solid #2c74d6;
	box-shadow: 0 0.25rem 0.5rem #00000014;
	color: var(--clr-grey-5);
}
.work-article-long {
	display: flex;
	justify-content: center;
	align-items: center;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
	grid-area: 1 / 1 / 2 / 3;

	background-color: var(--clr-primary);
	color: var(--clr-white);
	padding: 1.5rem;
	padding-left: 0;
}
.work-image-container {
	width: 275px;
}
.work-image {
	width: 100%;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}
.work-image-long-container {
	width: auto;
	height: 28rem;
}
.work-image-long {
	border-top-left-radius: 0;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	box-shadow: 28px 0px 0px -10px rgba(35, 93, 171, 0.75);
}
.work-info {
	padding: 1.5rem;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1rem;
}
.work-heading {
	font-weight: 700;
	font-size: 1em;
	line-height: 120%;
	color: #111;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.work-heading-long {
	font-family: 700;
	font-size: 1.5rem;
	line-height: 120%;
	color: var(--clr-white);
	letter-spacing: 0.5px;
}
.work-text {
	margin: 0;
	padding: 0;
}
.work-text-long {
	font-weight: 400;
	line-height: 120%;
	padding-bottom: 1rem;
}
.work-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.work-tags p {
	display: inline;
	margin: 0;
	padding: 0.365rem 0.75rem;
	border: 1px solid #e4eaf2;
	border-radius: 1rem;

	font-size: 0.75em;
	font-weight: 400;
	line-height: 130%;
	color: #555;
	letter-spacing: 0.25px;
}
.work-tags-long p {
	font-size: 0.75em;
	color: var(--clr-white);
}
.work-details {
	font-weight: 700;
	font-size: 0.8rem;
	color: var(--clr-primary);
	letter-spacing: 0.25px;
	text-transform: uppercase;

	margin-top: 1rem;
}
.work-details-long {
	color: var(--clr-white);
	/* margin-top: 2rem; */
}
.work-article:last-child {
	border-bottom: 0.25rem solid #f1afab;
	background: linear-gradient(180deg, rgba(255, 160, 107, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
}
.work-article:last-child .work-heading {
	font-size: 4em;
	font-weight: 500;
	color: #07172d;
	margin: 0;
}
.work-article:last-child .work-heading-text {
	font-size: 2em;
	margin: 0;
}
.work-article:last-child .work-text {
	font-weight: 400;
	color: #111;
	letter-spacing: 0.25px;
	padding: 0 0 1rem 0;
}
.work-article:last-child .work-details {
	padding: 1.5rem;
	border-radius: 50%;
	background-color: var(--clr-primary);
	width: 0;
	height: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======= Technologies Section ======= */
.tech-section {
	color: var(--clr-white);
	background-color: #07172d;
	height: 100vh;
}
.technologies {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	width: 80%;
}
.tech {
	height: 5.25rem;
	width: 5.25rem;
	border: 2px solid #333333;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.tech img {
	height: 40px;
	width: 40px;
}

/* ======= Hiring Section ======= */
.hire-section {
	height: 100vh;

	display: flex;
	align-items: center;
	gap: 2rem;
}
.job-cards {
	display: flex;
    gap: 1rem;
}
.left-job-cards, .right-job-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}
.job-card {
	width: 18rem;
	padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 24px 34px #00000014;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.job-card-long {
    color: var(--clr-white);
    background-color: #e35e58;
}
.job-heading {
    font-weight: 700;
    font-size: 1.25em;
    color: #111;
    line-height: 120%;
    letter-spacing: 0.5px;
}
.job-heading-long {
    font-size: 4em;
    font-weight: 400;
    color: var(--clr-white);
    margin: 0;
}
.job-subheading-long {
    font-size: 2em;
    font-weight: 700;
    color: var(--clr-white);
    margin: 0;
}
.job-text {
    font-weight: 400;
    color: #555;
    line-height: 120%;
    letter-spacing: 0.25px;
}
.job-text-long {
    color: var(--clr-white);
}
.job-apply {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 700;
}
.job-apply-long {
    color: var(--clr-white);
}

/* ======= offices Section ======= */
.office-section {
	color: var(--clr-white);
	background-color: #07172d;
	height: 100vh;

	display: flex;
	align-items: center;
}
.office {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}
.office img {
	width: 1.25rem;
	height: 0.75rem;
	border-radius: 4px;
	margin-top: 4px;
}
.office-info {
	margin-bottom: 1rem;
}
.office-city {
	margin: 0;
	margin-bottom: 0.5rem;

	font-weight: 700;
	line-height: 150%;
}
.office-location {
	margin: 0;
	margin-bottom: 0.5rem;

	font-weight: 400;
	color: #bbb;
	line-height: 150%;
}
.office-location-2 {
	border-top: 2px solid #333;
	padding-top: 0.5rem;
}
.office-map {
	position: relative;
}
.outer-marker {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 20px;
	width: 20px;
	background-color: rgb(235, 87, 87, 0.5);
	border-radius: 50%;
}
.marker {
	height: 8px;
	width: 8px;
	background-color: #eb5757;
	border-radius: 50%;
}
.us-marker {
	position: absolute;
	top: 40%;
	left: 26%;
}
.uae-marker {
	position: absolute;
	top: 50%;
	left: 62%;
}
.in-marker {
	position: absolute;
	top: 53%;
	left: 68%;
}

/* ======= Footer ======= */
footer {
	padding: 3rem;
	background-color: var(--clr-primary);
	color: var(--clr-white);

	display: flex;
	align-items: flex-start;
	gap: 6rem;
}
.about a svg {
	fill: var(--clr-white);
}
.footer-links {
	display: flex;
	align-items: center;
	gap: 4rem;
}
.links-container {
	list-style-type: none;
}
.links-container li a {
	color: var(--clr-white);
}
.links-container li {
	margin-bottom: 1rem;
}
.links-container li:last-child {
	margin-bottom: 0;
}
.link-heading {
	font-weight: 700;
	font-size: 1.25em;
	padding-bottom: 1.25rem;
}
